html {
  height: 100%;
  width: 100%;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;

    /* height: 100%; */
    background: url('https://goo.gl/XirXLr');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .footer {
    /* background: #002766; */
    padding: 2.5%;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  
  .aside-1 {
    flex: 2;
    /* background: #002766; */
    text-align: start;
    padding-left: 5%;
    padding-top: 2.5%;
  }
  
  .aside-2 {
    flex: 1;
    /* background: #002766; */
    padding-right: 5%;
    padding-top: 2.5%;
    
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }

  .project:hover {
    opacity: 0.6;
  }

  .fa:hover {
    opacity: 0.6
  }

  .erlinkContainer {
    flex: 1;
    margin-right: 50%;
    flex-direction: row;
  }

  .erlink {
    text-decoration: underline;
  }

  .erlink:hover {
    text-decoration: underline;
    opacity: 0.6;
  }

  @media all and (min-width: 800px) {
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }


  /* ========================================================= */

  @media (max-width: 340px) {
    .project {
      width: 150px;
      height: 100px;
      margin: 3%;
      border-radius: 2%;
    }

    .breaker {
      height: 4%;
    }
  }

  @media (min-width: 340px) and (max-width: 500px) {
    .project {
      width: 155px;
      height: 105px;
      margin: 3%;
      border-radius: 2%;
    }

    .breaker {
      height: 4%;
    }
  }

  @media (min-width: 500px) and (max-width: 750px) {
    .project {
      width: 165px;
      height: 115px;
      margin: 3%;
      border-radius: 2%;
    }

    .breaker {
      height: 5.5%;
    }
  }

  @media (min-width: 750px) and (max-width: 1000px) {
    .project {
      width: 200px;
      height: 150px;
      margin: 3%;
      border-radius: 2%;
    }

    .breaker {
      height: 7.5%;
    }
  }

  @media (min-width: 1000px) and (max-width: 1250px) {
    .project {
      width: 225px;
      height: 175px;
      margin: 4%;
      border-radius: 3%;
    }

    .breaker {
      height: 10%;
    }
  }

  @media (min-width: 1250px) {
    .project {
      width: 250px;
      height: 200px;
      margin: 5%;
      border-radius: 2%;
    }

    .breaker {
      height: 8%;
    }
  }

  @media (max-width: 724px) {
    .header {
        display: flex;
        /* background: #002766; */
        flex-direction: column;
      }

    .me {
        width: 40%;
        height: 30%;
        align-self: center;
        border-radius: 100%;
      }

    .me-text {
        align-self: center;
        text-align: start;
        padding-bottom: 2.5%;
      }

    .fa { 
        transform: scale(2.25, 2.25); 
        margin-left: 8%;
        margin-right: 8%;
        color: white;
      }

    h1 {
        font-size: 30px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        font-weight: bold !important;
        color: white !important;        
      }
    
    h3 {
        font-size: 25px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* font-weight: bold !important; */
        color: lightskyblue !important;        
      }

    h5 {
        font-size: 20px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* font-weight: bold !important; */
        color: lightskyblue !important;        
      }

    p {
        font-size: 15px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* font-weight: bold !important; */
        color: white !important;        
        margin-bottom: 0.5% !important;        
      }
  }

  @media (min-width: 724px) {
    .header {
        display: flex;
        /* background: #002766; */
        flex-direction: row;
      }

    .me {
        width: auto;
        height: 30%;
        border-radius: 100%;        
      }

    .me-text {
        align-self: center;
        text-align: start;
        padding-bottom: 2.5%;        
        padding-left: 20px;
      }
    
    .fa { 
        transform: scale(2.25, 2.25); 
        margin-left: 4%;
        margin-right: 4%;
        color: white;
      }
    
    h1 {
        font-size: 40px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        font-weight: bold !important;
        color: white !important;        
      }

    h3 {
        font-size: 30px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* font-weight: bold !important; */
        color: lightskyblue !important;
      }

    h5 {
        font-size: 25px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* font-weight: bold !important; */
        color: lightskyblue !important;        
      }

    p {
        font-size: 20px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        /* font-weight: bold !important; */
        color: white !important;        
        margin-bottom: 0.5% !important;
      }

  }

  @media (max-width: 724px) and (max-height: 450px) {
    .me {
      width: 20%;
      height: 45%;
      border-radius: 100%;        
    }
  }


  /* ============================================================= */